@import "./normalize.scss", "./fonts.scss", "./animations.scss";

:root {
    /*COLORS*/
    --c-light: white;
    --c-light-hover: #fbfbfb;
    --c-gray-dark: #929292;
    --c-gray: #e7e7e7;
    --c-dark: black;
    --c-dark-opacity: rgba(0, 0, 0, 0.2);
    --c-dark-alt: #2f2f2f;
    --c-accent: #003087;
    --c-accent-alt: #4fcd32;
    --c-brand-first-lt: #efffeb;
    --c-brand-second-lt: #94b6f5;
    --c-brand-third-lt: #b8f7aa;
    --c-red: #dd5745;
    --bg-gradient: linear-gradient(
        35deg,
        var(--c-brand-third-lt) 0%,
        var(--c-brand-second-lt) 70%,
        var(--c-brand-first-lt) 100%
    );

    /*FONTS*/
    --fz-scale: 1;
    --fz-xs: calc(10px * var(--fz-scale));
    --fz-s: calc(12px * var(--fz-scale));
    --fz-m: calc(14px * var(--fz-scale));
    --fz-l: calc(16px * var(--fz-scale));
    --fz-xl: calc(18px * var(--fz-scale));
    --font-base: "Raleway", sans-serif;

    /*BLOCKS*/
    --border: 1px solid var(--c-dark-alt);
    --bradius-l: 30px;
    --bradius-m: 20px;
    --bradius-s: 10px;
    --bradius-xs: 6px;
    --btn-height: 56px;

    /*SHADOWS*/
    --shadow-s: 0 0 20px rgba(0, 0, 0, 0.05);

    /*TRANSITIONS*/
    --trans-dur: 0.3s;
    
    background: var(--bg-gradient) no-repeat;
}

body {
    @include fluid-text($base-min, $base-max);
    @include scrollbar;

    color: var(--c-dark-alt);
    font-family: var(--font-base);
    background-attachment: fixed;
    line-height: 1.4;
}

input,
button,
a {
    transition-duration: var(--trans-dur);
}

#root {
    min-height: 100vh;
}
main {
    @include flex-center;

    padding: 20px;
    min-height: inherit;
    overflow-y: auto;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

h1 {
    @include fluid-text($h1-min, $h1-max);
}

h2 {
    @include fluid-text($h2-min, $h2-max);

    &:not(:last-child) {
        margin-bottom: #{28 / $h2-max}em;
    }
}

h3 {
    @include fluid-text($h3-min, $h3-max);
}

h4 {
    @include fluid-text($h4-min, $h4-max);
}
