.sceneChoiceBlock {
    display: flex;
    color: var(--c-light);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .sceneChoiceListWrapper {
        flex-grow: 0.7;
    }
    .sceneChoicesList {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .sceneChoiceButton {
        font-size: var(--fz-l);
        padding: 20px;
    }
    .sceneChoicesCaption{
        text-align: center;
        align-self: center ;
        color: var(--c-light);
    }
}
