.button {
    @include square(44px);
    @include flex-center;
    z-index: 100;
    right: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 20px;
    max-width: fit-content;
    position: absolute;
    background-color: var(--c-yellow);
    border: 2px solid var(--c-light);

    svg {
        @include square(28px);
    }
}
